src/tidhome/flows/tidhome-flows.json
[
    {
        "id": "112e9cf8.590b23",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d88a69c4.1942c8",
        "type": "tab",
        "label": "Storage",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d06e385b.de11c8",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6ca2108.abdcc8",
        "type": "tab",
        "label": "Actors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8627a08f.2f4c18",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fc69d2d.235124",
        "type": "telegram bot",
        "z": "",
        "botname": "Ti-dhome-base",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": true
    },
    {
        "id": "4c23cd92.778204",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyJeeLink",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "36396f66.41717",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyCurrenCost",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "c38452a5.4f84e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "56c5e5e6.d3610c",
        "type": "darksky-credentials",
        "z": "",
        "key_identifier": "kalemena"
    },
    {
        "id": "23793ec.9bf0742",
        "type": "catch",
        "z": "8627a08f.2f4c18",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 30,
        "wires": [
            [
                "1eadd747.8b08a1",
                "8657cb9d.cdd43"
            ]
        ]
    },
    {
        "id": "1eadd747.8b08a1",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 640,
        "y": 30,
        "wires": []
    },
    {
        "id": "8ada82a3.815fc8",
        "type": "telegram sender",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "bot": "4fc69d2d.235124",
        "x": 690,
        "y": 490,
        "wires": [
            [
                "bd0c93c7.885df"
            ]
        ]
    },
    {
        "id": "bd0c93c7.885df",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 490,
        "wires": []
    },
    {
        "id": "cb68db5a.bdbca8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "436b2017.90da28"
            ]
        ]
    },
    {
        "id": "8b517c2b.d93ed8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Meteo",
        "func": "var message = msg.payload.detail + '\\n' + \n    \"temp=\" + msg.data.currently.temperature + \"°C (\" + msg.payload.mintemp + \"°C to \" + msg.payload.maxtemp + \"°C) \\n\" +\n    \"humidity=\" + (msg.payload.humidity * 100) + \"%\\n\" +\n    \"pressure=\" + msg.data.currently.pressure + \"hPa\\n\" +\n    \"windspeed=\" + msg.payload.windspeed + \"km/h\\n\" +\n    \"winddirection=\" + msg.payload.winddirection + \"\\n\" + \n    \"clouds=\" + (msg.payload.clouds * 100) + \"%\";\n    \nmsg.payload = message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 370,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "e9d7a1fd.be1e5",
        "type": "catch",
        "z": "d06e385b.de11c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 30,
        "wires": [
            [
                "b4de4531.e18c6",
                "da4f836d.e9aba8"
            ]
        ]
    },
    {
        "id": "b4de4531.e18c6",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 30,
        "wires": []
    },
    {
        "id": "91974a7f.e2fe4",
        "type": "mqtt in",
        "z": "112e9cf8.590b23",
        "name": "sensors/+/+/+/+/+",
        "topic": "sensors/+/+/+/+/+",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "dbbdea79.1ee17"
            ]
        ]
    },
    {
        "id": "c451b641.f25a18",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "53-Bureau",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "72bb0768.1bdbd8",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "Sensors",
        "info": "",
        "x": 100,
        "y": 940,
        "wires": []
    },
    {
        "id": "613655ae.7a0704",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "Jeelink",
        "serial": "4c23cd92.778204",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "e8d888e4.072f5"
            ]
        ]
    },
    {
        "id": "5840b9d9.43453",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "Sensors - MQTT push",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "4eb57f6e.51aa18",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "CurrentCost",
        "serial": "36396f66.41717",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "3121b59f.5acfaa"
            ]
        ]
    },
    {
        "id": "3121b59f.5acfaa",
        "type": "xml",
        "z": "d06e385b.de11c8",
        "name": "xml2json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "32ac0f30.9239f8"
            ]
        ]
    },
    {
        "id": "45d9a893.f40ca8",
        "type": "darksky",
        "z": "8627a08f.2f4c18",
        "darksky": "56c5e5e6.d3610c",
        "name": "Weather Forecast",
        "lon": "-4.574204",
        "lat": "48.4778124",
        "date": "",
        "time": "",
        "mode": "node",
        "lang": "fr",
        "units": "si",
        "x": 310,
        "y": 370,
        "wires": [
            [
                "8b517c2b.d93ed8"
            ]
        ]
    },
    {
        "id": "9b4ceb45.43c628",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "f6373746.83f598"
            ]
        ]
    },
    {
        "id": "436b2017.90da28",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Fresh deploy",
        "func": "msg.payload = \"Fresh (re-)deploy !\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4881ab4d.cbd20c",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 510,
        "y": 330,
        "wires": [
            [
                "57125e6f.c04dd"
            ]
        ]
    },
    {
        "id": "f9f7f04d.3b6e58",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 460,
        "y": 290,
        "wires": [
            [
                "4881ab4d.cbd20c"
            ]
        ]
    },
    {
        "id": "57125e6f.c04dd",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Render day events",
        "func": "if (msg.payload.date !== undefined) {\n    \n    var message, bdom, bmonth, byear;\n    bparsed = msg.payload.date.split('/');\n    \n    if(bparsed.length == 3) {\n        // year/month/day\n        bdom = parseInt(bparsed[2])\n        bmonth = parseInt(bparsed[1])\n        byear = parseInt(bparsed[0])\n        \n    } else {\n        // month/day\n        bdom = parseInt(bparsed[1])\n        bmonth = parseInt(bparsed[0])\n        \n    }\n    \n    if((bdom == msg.mydom) && (bmonth == msg.mymonthn)) {\n        // date matches today\n        \n        if(msg.filename.indexOf('saints') !== -1) {\n            message = \"Saints \" + msg.payload.value\n            \n        } else if(msg.filename.indexOf('birthday') !== -1) { \n            if(byear !== undefined) {\n                message = \"Happy \" + (msg.myyear - byear) + \"th Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            } else {\n                message = \"Happy Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            }\n            \n        } else {\n            message = msg.payload.value\n        }\n        \n        msg.payload = message\n        return msg;\n    }\n}\n\n// Default nothing\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 330,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "f6373746.83f598",
        "type": "readdir",
        "z": "8627a08f.2f4c18",
        "name": "Daily CSVs",
        "dir": "/opt/tidhome/data/daily-events",
        "as": "multi",
        "recursive": false,
        "outproperty": "filename",
        "x": 290,
        "y": 270,
        "wires": [
            [
                "8e4b9462.126df"
            ]
        ]
    },
    {
        "id": "8e4b9462.126df",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "CSV file",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 330,
        "y": 310,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "f5632272.86a6b8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Morning",
        "topic": "",
        "payload": "Good morning!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "30 08 * * *",
        "once": false,
        "onceDelay": "5",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "45d9a893.f40ca8",
                "f6373746.83f598",
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "fd76b359.51ec38",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Night",
        "topic": "",
        "payload": "Good night!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": "5",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "157f1d52.64b9ab",
        "type": "mqtt in",
        "z": "8627a08f.2f4c18",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "2",
        "datatype": "auto",
        "broker": "c38452a5.4f84e8",
        "x": 130,
        "y": 490,
        "wires": [
            [
                "5646d1f7.0ae1d8"
            ]
        ]
    },
    {
        "id": "57bdbb93.d54314",
        "type": "mqtt out",
        "z": "8627a08f.2f4c18",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 920,
        "y": 230,
        "wires": []
    },
    {
        "id": "a1e5ec43.17a97",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Render notification event",
        "func": "msg.payload = {\n    \"chatId\": msg.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 490,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "63c9e566.dc8624",
        "type": "comment",
        "z": "8627a08f.2f4c18",
        "name": "Publish Telegram event",
        "info": "",
        "x": 140,
        "y": 450,
        "wires": []
    },
    {
        "id": "4271c741.d9a258",
        "type": "comment",
        "z": "8627a08f.2f4c18",
        "name": "Daily News",
        "info": "",
        "x": 100,
        "y": 120,
        "wires": []
    },
    {
        "id": "5646d1f7.0ae1d8",
        "type": "credentials",
        "z": "8627a08f.2f4c18",
        "name": "K",
        "props": [
            {
                "value": "telegramrecipients",
                "type": "msg"
            },
            {
                "value": "telegramusers",
                "type": "msg"
            }
        ],
        "x": 310,
        "y": 490,
        "wires": [
            [
                "a1e5ec43.17a97"
            ]
        ]
    },
    {
        "id": "dbbdea79.1ee17",
        "type": "switch",
        "z": "112e9cf8.590b23",
        "name": "",
        "property": "payload.nodeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "53",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "20d61b84.1b6924"
            ],
            [
                "6d2e18c5.5c942"
            ],
            [
                "b32abd94.544218"
            ],
            [
                "1b1528bb.4369cf"
            ],
            [
                "6e85942b.b60e04"
            ],
            [
                "85400e87.07af7"
            ],
            [
                "5e3a957b.405244"
            ],
            [
                "c451b641.f25a18"
            ],
            [
                "66980d71.86001c"
            ]
        ],
        "inputLabels": [
            "sensors"
        ],
        "outputLabels": [
            "4-Ch.Léna",
            "",
            "",
            "",
            null,
            "",
            null,
            "",
            ""
        ],
        "info": "## fgdfgd"
    },
    {
        "id": "85400e87.07af7",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "12-SdB.Haut",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1b1528bb.4369cf",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "8-Ch.Damien",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "20d61b84.1b6924",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "4-Ch.Léna",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 900,
        "wires": []
    },
    {
        "id": "66980d71.86001c",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "?",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6d2e18c5.5c942",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "5-Ch.Jeux",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 940,
        "wires": []
    },
    {
        "id": "63fb326d.8d4e04",
        "type": "http request",
        "z": "d06e385b.de11c8",
        "name": "Web Relays",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.56/gpios/status",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "54613c06.23f4fc"
            ]
        ]
    },
    {
        "id": "ad519cb2.e58da",
        "type": "inject",
        "z": "d06e385b.de11c8",
        "name": "Poll Web Relays (60s)",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "63fb326d.8d4e04"
            ]
        ]
    },
    {
        "id": "b32abd94.544218",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "7-Mezanine",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 980,
        "wires": []
    },
    {
        "id": "39ae1a17.7f3306",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "Actors",
        "info": "",
        "x": 620,
        "y": 750,
        "wires": []
    },
    {
        "id": "c243b327.34b1e",
        "type": "mqtt in",
        "z": "112e9cf8.590b23",
        "name": "actors/iotheaters/relays/+/state",
        "topic": "actors/iotheaters/relays/+/state",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 690,
        "y": 830,
        "wires": [
            [
                "9de49f76.c04b"
            ]
        ]
    },
    {
        "id": "46f4eabb.fb1554",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "Other relays",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1280,
        "y": 1290,
        "wires": []
    },
    {
        "id": "9de49f76.c04b",
        "type": "switch",
        "z": "112e9cf8.590b23",
        "name": "Relays Mapping",
        "property": "payload.relayid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 960,
        "y": 830,
        "wires": [
            [
                "8cc04f9c.03afd8"
            ],
            [
                "502f5598.261254"
            ],
            [
                "96c754f8.a6f498"
            ],
            [
                "5f20f1d2.b087b"
            ],
            [
                "67a6f151.dd3388"
            ],
            [
                "dca91ef0.19f8b8"
            ],
            [
                "9f35c2ee.fc7348"
            ],
            [
                "4d72849c.9d0a14"
            ],
            [
                "8c06cc3.7f97fb"
            ],
            [
                "8ae386fa.38ded8"
            ],
            [
                "46f4eabb.fb1554"
            ]
        ]
    },
    {
        "id": "8cc04f9c.03afd8",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "0-Ch.Jeux",
        "topic": "actors/iotheaters/relays/cjeux/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1270,
        "y": 740,
        "wires": []
    },
    {
        "id": "502f5598.261254",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "1-Bureau",
        "topic": "actors/iotheaters/relays/cbureau/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1270,
        "y": 790,
        "wires": []
    },
    {
        "id": "96c754f8.a6f498",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "2-Ch.Léna",
        "topic": "actors/iotheaters/relays/clena/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 840,
        "wires": []
    },
    {
        "id": "5f20f1d2.b087b",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "3-Ch.Damien",
        "topic": "actors/iotheaters/relays/cdamien/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 890,
        "wires": []
    },
    {
        "id": "67a6f151.dd3388",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "4-SdB.Haut",
        "topic": "actors/iotheaters/relays/sdbh/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 940,
        "wires": []
    },
    {
        "id": "dca91ef0.19f8b8",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "5-Mezzanine",
        "topic": "actors/iotheaters/relays/mezzanine/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 990,
        "wires": []
    },
    {
        "id": "9f35c2ee.fc7348",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "6-Ch.Parents",
        "topic": "actors/iotheaters/relays/cparents/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4d72849c.9d0a14",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "7-SdB.Bas",
        "topic": "actors/iotheaters/relays/sdbb/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1280,
        "y": 1090,
        "wires": []
    },
    {
        "id": "8ae386fa.38ded8",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "15-Hall",
        "topic": "actors/iotheaters/relays/hall/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1270,
        "y": 1220,
        "wires": []
    },
    {
        "id": "8c06cc3.7f97fb",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "14-Salon",
        "topic": "actors/iotheaters/relays/salon/state",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 1270,
        "y": 1170,
        "wires": []
    },
    {
        "id": "8befeef.c99cc1",
        "type": "comment",
        "z": "a6ca2108.abdcc8",
        "name": "Actors - MQTT push",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ee431c1.7d7f9",
        "type": "mqtt in",
        "z": "a6ca2108.abdcc8",
        "name": "actors/iotheaters/relays/+/switch",
        "topic": "actors/iotheaters/relays/+/switch",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 170,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a7880a9.06ed278",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "01 - Bureau",
        "topic": "",
        "payload": "1",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 330,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "b1dbdfae.39a7b",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "00 - Salle de Jeux",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 290,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "53262eed.f7e5e",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "02 - Chambre Léna",
        "topic": "",
        "payload": "2",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 370,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "8976bd76.5edb88",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "03 - Chambre Damien",
        "topic": "",
        "payload": "3",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 410,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "adf2bccd.e3ed5",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "04 - Salle de Bain - Haut",
        "topic": "",
        "payload": "4",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 450,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "e622a046.d513",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "05 - Mezanine",
        "topic": "",
        "payload": "5",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 490,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "9eb9836d.f905d8",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "06 - Chambre Papa/Maman",
        "topic": "",
        "payload": "6",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 530,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "d32525df.94aaa",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "07 - Salle de Bain - Bas",
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 570,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "68332464.3f29b4",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "14 - Salon",
        "topic": "",
        "payload": "14",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 610,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "78234f2b.1a52d8",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "15 - Hall",
        "topic": "",
        "payload": "15",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 650,
        "wires": [
            [
                "cf6ab180.ad4d98"
            ]
        ]
    },
    {
        "id": "d285c515.7b709",
        "type": "catch",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 30,
        "wires": [
            [
                "a6f2a3e0.0d0fe",
                "a25e9952.1947b"
            ]
        ]
    },
    {
        "id": "a6f2a3e0.0d0fe",
        "type": "debug",
        "z": "a6ca2108.abdcc8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 30,
        "wires": []
    },
    {
        "id": "3099cf40.d425b",
        "type": "comment",
        "z": "a6ca2108.abdcc8",
        "name": "IOTHeaters - Test",
        "info": "",
        "x": 120,
        "y": 250,
        "wires": []
    },
    {
        "id": "f26be183.4f807",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "94e381cf.c2bab"
            ]
        ]
    },
    {
        "id": "af26e828.9b92",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "77ded097.d4bc6",
        "type": "yaml",
        "z": "112e9cf8.590b23",
        "property": "payload",
        "name": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "87655eff.6eacc"
            ]
        ]
    },
    {
        "id": "94e381cf.c2bab",
        "type": "file in",
        "z": "112e9cf8.590b23",
        "name": "ti-dhome.yaml",
        "filename": "/opt/tidhome/data/ti-dhome.yaml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "77ded097.d4bc6"
            ]
        ]
    },
    {
        "id": "ea98f666.7ddaa",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "Sensors - Configuration",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4efc750.434898",
        "type": "catch",
        "z": "112e9cf8.590b23",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 30,
        "wires": [
            [
                "9c4b0bd9.75b93",
                "898cb71f.e8a81"
            ]
        ]
    },
    {
        "id": "9c4b0bd9.75b93",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 30,
        "wires": []
    },
    {
        "id": "87655eff.6eacc",
        "type": "change",
        "z": "112e9cf8.590b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tidhome",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "af26e828.9b92"
            ]
        ]
    },
    {
        "id": "d18b1e8a.48615",
        "type": "change",
        "z": "112e9cf8.590b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tidhome",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "af26e828.9b92"
            ]
        ]
    },
    {
        "id": "5e3a957b.405244",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "50-Aquarium",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6e85942b.b60e04",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "9-Ch.Bas",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cf6ab180.ad4d98",
        "type": "http request",
        "z": "a6ca2108.abdcc8",
        "name": "Switch Web Relays",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.56/gpios/switch?id={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 450,
        "wires": [
            [
                "48a96725.f96be"
            ]
        ]
    },
    {
        "id": "48a96725.f96be",
        "type": "debug",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 760,
        "y": 450,
        "wires": []
    },
    {
        "id": "9e12968e.6ff6b8",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Check",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "d18b1e8a.48615"
            ]
        ]
    },
    {
        "id": "f20c9be2.db11d8",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "sensors/iotpower/nodes/...",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "f1beea2b.c0578",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "sensors/rfm868usb/nodes/...",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "b71c316e.66ac78",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "sensors/iotheaters/nodes/...",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "32ac0f30.9239f8",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse CurrentCost",
        "filename": "/opt/tidhome/functions/Parse-CurrentCost.js",
        "reloadfile": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f20c9be2.db11d8"
            ]
        ]
    },
    {
        "id": "e8d888e4.072f5",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse JeeLink",
        "filename": "/opt/tidhome/functions/Parse-JeeLink.js",
        "reloadfile": false,
        "outputs": 1,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "f1beea2b.c0578"
            ]
        ]
    },
    {
        "id": "54613c06.23f4fc",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse WebRelays",
        "filename": "/opt/tidhome/functions/Parse-WebRelays.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "b71c316e.66ac78"
            ]
        ]
    },
    {
        "id": "8657cb9d.cdd43",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Flow Notification",
        "func": "msg.payload = \"Flow Notifications:\\n\" + msg.error.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 70,
        "wires": [
            [
                "cbbe5fc7.3d9118"
            ]
        ]
    },
    {
        "id": "a25e9952.1947b",
        "type": "function",
        "z": "a6ca2108.abdcc8",
        "name": "Flow Actors",
        "func": "msg.payload = \"Flow Actors:\\n\" + msg.error.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 70,
        "wires": [
            [
                "6e8d84f5.44ef7c"
            ]
        ]
    },
    {
        "id": "2664eb97.8979dc",
        "type": "mqtt out",
        "z": "a6ca2108.abdcc8",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 690,
        "y": 70,
        "wires": []
    },
    {
        "id": "da4f836d.e9aba8",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Flow Sensors",
        "func": "msg.payload = \"Flow Sensors:\\n\" + msg.error.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 70,
        "wires": [
            [
                "a4910bae.3bab5"
            ]
        ]
    },
    {
        "id": "7e3c081.db32af8",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 810,
        "y": 70,
        "wires": []
    },
    {
        "id": "898cb71f.e8a81",
        "type": "function",
        "z": "112e9cf8.590b23",
        "name": "Flow Configuration",
        "func": "msg.payload = \"Flow Configuration:\\n\" + msg.error.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 70,
        "wires": [
            [
                "a824819.c6b45"
            ]
        ]
    },
    {
        "id": "431b4b17.115b74",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 910,
        "y": 70,
        "wires": []
    },
    {
        "id": "a4910bae.3bab5",
        "type": "delay",
        "z": "d06e385b.de11c8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 540,
        "y": 70,
        "wires": [
            [
                "7e3c081.db32af8"
            ]
        ]
    },
    {
        "id": "a824819.c6b45",
        "type": "delay",
        "z": "112e9cf8.590b23",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 620,
        "y": 70,
        "wires": [
            [
                "431b4b17.115b74"
            ]
        ]
    },
    {
        "id": "6e8d84f5.44ef7c",
        "type": "delay",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 480,
        "y": 70,
        "wires": [
            [
                "2664eb97.8979dc"
            ]
        ]
    },
    {
        "id": "cbbe5fc7.3d9118",
        "type": "delay",
        "z": "8627a08f.2f4c18",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 660,
        "y": 70,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "cc675ec4.106d",
        "type": "comment",
        "z": "d88a69c4.1942c8",
        "name": "Sensors - Heaters",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "90d304a9.c871a",
        "type": "mqtt in",
        "z": "d88a69c4.1942c8",
        "name": "sensors/iotheaters/#",
        "topic": "sensors/iotheaters/#",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "dcd509f1.d56dd"
            ]
        ]
    },
    {
        "id": "f508a719.4285d8",
        "type": "comment",
        "z": "d88a69c4.1942c8",
        "name": "Sensors - Power",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ddf0a38.d4697c",
        "type": "mqtt in",
        "z": "d88a69c4.1942c8",
        "name": "sensors/iotpower/#",
        "topic": "sensors/iotpower/#",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "dcd509f1.d56dd"
            ]
        ]
    },
    {
        "id": "68aae2ac.40a004",
        "type": "comment",
        "z": "d88a69c4.1942c8",
        "name": "Sensors - rfm868usb",
        "info": "",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "401c77c8.e1141",
        "type": "mqtt in",
        "z": "d88a69c4.1942c8",
        "name": "sensors/rfm868usb/#",
        "topic": "sensors/rfm868usb/#",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "dcd509f1.d56dd"
            ]
        ]
    },
    {
        "id": "14def27.355280e",
        "type": "debug",
        "z": "d88a69c4.1942c8",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "dcd509f1.d56dd",
        "type": "function",
        "z": "d88a69c4.1942c8",
        "name": "Store Global",
        "func": "var topicNodesPrefix = 'tidhome.sensors.' + msg.payload.gateway + '.nodes'\nvar nodes = global.get(topicNodesPrefix) || [];\nfor (var i = 0; i < nodes.length; i++) {\n    if(nodes[i].id === msg.payload.id) {\n        // found node\n        entryStr = (msg.payload.entry != undefined) ? ('-' + msg.payload.entry) : ''\n        global.set(topicNodesPrefix + '[' + i + '].' + msg.payload.type + entryStr, msg.payload.value);\n        global.set(topicNodesPrefix + '[' + i + '].timestamp', msg.payload.timestamp);\n    }\n}\n// pass through\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "14def27.355280e"
            ]
        ]
    },
    {
        "id": "9b62bbdb.4c3cc8",
        "type": "catch",
        "z": "d88a69c4.1942c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 30,
        "wires": [
            [
                "b7abb96a.989938",
                "d53d97.57082a68"
            ]
        ]
    },
    {
        "id": "b7abb96a.989938",
        "type": "debug",
        "z": "d88a69c4.1942c8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 30,
        "wires": []
    },
    {
        "id": "d53d97.57082a68",
        "type": "function",
        "z": "d88a69c4.1942c8",
        "name": "Flow Storage",
        "func": "msg.payload = \"Flow Storage:\\n\" + msg.error.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 70,
        "wires": [
            [
                "5fa9f3f6.c0bb14"
            ]
        ]
    },
    {
        "id": "94f22d87.c4e9",
        "type": "mqtt out",
        "z": "d88a69c4.1942c8",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 910,
        "y": 70,
        "wires": []
    },
    {
        "id": "5fa9f3f6.c0bb14",
        "type": "delay",
        "z": "d88a69c4.1942c8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 620,
        "y": 70,
        "wires": [
            [
                "94f22d87.c4e9"
            ]
        ]
    },
    {
        "id": "aa1dfa0a.c912b",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Alarms",
        "topic": "",
        "payload": "[\"iotpower\",\"iotheaters\",\"rfm868usb\"]",
        "payloadType": "json",
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "900",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "9bca5b14.acefe8"
            ]
        ]
    },
    {
        "id": "9bca5b14.acefe8",
        "type": "function",
        "z": "112e9cf8.590b23",
        "name": "Alarms",
        "func": "var outputMsgs = []\nvar now = new Date().getTime()\n\n// Read global info\nfor (var j = 0; j < msg.payload.length; j++) {\n    var topicNodesPrefix = 'tidhome.sensors.' + msg.payload[j] + '.nodes'\n    var nodes = global.get(topicNodesPrefix) || []\n    for (var i = 0; i < nodes.length; i++) {\n        \n        if(nodes[i].enabled != undefined && nodes[i].enabled == false)\n            continue\n        \n        if(nodes[i].timestamp == undefined) {\n            var msgOut = {}\n            msgOut.topic = 'alarms/sensors/neverseen'\n            msgOut.payload = nodes[i]\n            msgOut.payload.gateway = msg.payload[j]\n            outputMsgs.push(msgOut)\n            continue\n        }\n        \n        var tOld = parseInt((now - nodes[i].timestamp) / (1000 * 60))\n        if(tOld > 30) {\n            // 30 min old data => alarm\n            var msgOut = {}\n            msgOut.topic = 'alarms/sensors/unavailable'\n            msgOut.payload = nodes[i]\n            msgOut.payload.gateway = msg.payload[j]\n            msgOut.payload.for = tOld + \"min\"\n            outputMsgs.push(msgOut)\n        }\n    }\n}\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "af26e828.9b92"
            ]
        ]
    }
]