src/tidhome/flows/tidhome-flows.json
[
    {
        "id": "112e9cf8.590b23",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d88a69c4.1942c8",
        "type": "tab",
        "label": "Storage",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d06e385b.de11c8",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6ca2108.abdcc8",
        "type": "tab",
        "label": "Actors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8627a08f.2f4c18",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e77a2be7.894528",
        "type": "tab",
        "label": "Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fc69d2d.235124",
        "type": "telegram bot",
        "z": "",
        "botname": "SomeKalemenaBot",
        "usernames": "",
        "chatids": "$(TELEGRAM_IN_CHATIDS)",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "4c23cd92.778204",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyJeeLink",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "36396f66.41717",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyCurrenCost",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "c38452a5.4f84e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "56c5e5e6.d3610c",
        "type": "darksky-credentials",
        "z": "",
        "key_identifier": "kalemena"
    },
    {
        "id": "d6378b62.a3ced8",
        "type": "zwave-controller",
        "z": "",
        "port": "/dev/ttyZWave",
        "driverattempts": "3",
        "pollinterval": "10000",
        "allowunreadyupdates": true,
        "networkkey": "",
        "logging": "full"
    },
    {
        "id": "7daf73cd.995c9c",
        "type": "deconz-server",
        "z": "",
        "name": "deconz",
        "ip": "deconz",
        "port": "7080",
        "apikey": "$(ZIGBEE_DECONZ_APIKEY)",
        "ws_port": "7443",
        "secure": false,
        "polling": "15"
    },
    {
        "id": "b812dc68.010798",
        "type": "websocket-client",
        "z": "",
        "path": "ws://deconz:7443",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "cb68db5a.bdbca8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Initialize",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "436b2017.90da28"
            ]
        ]
    },
    {
        "id": "8b517c2b.d93ed8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Meteo",
        "func": "var message = msg.payload.detail + '\\n' + \n    \"temp=\" + msg.data.currently.temperature + \"°C (\" + msg.payload.mintemp + \"°C to \" + msg.payload.maxtemp + \"°C) \\n\" +\n    \"humidity=\" + (msg.payload.humidity * 100) + \"%\\n\" +\n    \"pressure=\" + msg.data.currently.pressure + \"hPa\\n\" +\n    \"windspeed=\" + msg.payload.windspeed + \"km/h\\n\" +\n    \"winddirection=\" + msg.payload.winddirection + \"\\n\" + \n    \"clouds=\" + (msg.payload.clouds * 100) + \"%\";\n    \nmsg.payload = message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 370,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "613655ae.7a0704",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "Jeelink",
        "serial": "4c23cd92.778204",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "e8d888e4.072f5"
            ]
        ]
    },
    {
        "id": "5840b9d9.43453",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "Sensors - MQTT push",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "4eb57f6e.51aa18",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "CurrentCost",
        "serial": "36396f66.41717",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "3121b59f.5acfaa"
            ]
        ]
    },
    {
        "id": "3121b59f.5acfaa",
        "type": "xml",
        "z": "d06e385b.de11c8",
        "name": "xml2json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "32ac0f30.9239f8"
            ]
        ]
    },
    {
        "id": "45d9a893.f40ca8",
        "type": "darksky",
        "z": "8627a08f.2f4c18",
        "darksky": "56c5e5e6.d3610c",
        "name": "Weather Forecast",
        "lon": "-4.574204",
        "lat": "48.4778124",
        "date": "",
        "time": "",
        "mode": "message",
        "lang": "fr",
        "units": "si",
        "x": 490,
        "y": 370,
        "wires": [
            [
                "8b517c2b.d93ed8",
                "eff1f82.28aea08"
            ]
        ]
    },
    {
        "id": "9b4ceb45.43c628",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "f6373746.83f598"
            ]
        ]
    },
    {
        "id": "436b2017.90da28",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Fresh deploy",
        "func": "msg.payload = \"Fresh (re-)deploy !\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4881ab4d.cbd20c",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 510,
        "y": 330,
        "wires": [
            [
                "57125e6f.c04dd"
            ]
        ]
    },
    {
        "id": "f9f7f04d.3b6e58",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 460,
        "y": 290,
        "wires": [
            [
                "4881ab4d.cbd20c"
            ]
        ]
    },
    {
        "id": "57125e6f.c04dd",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Render day events",
        "func": "if (msg.payload.date !== undefined) {\n    \n    var message, bdom, bmonth, byear;\n    bparsed = msg.payload.date.split('/');\n    \n    if(bparsed.length == 3) {\n        // year/month/day\n        bdom = parseInt(bparsed[2])\n        bmonth = parseInt(bparsed[1])\n        byear = parseInt(bparsed[0])\n        \n    } else {\n        // month/day\n        bdom = parseInt(bparsed[1])\n        bmonth = parseInt(bparsed[0])\n        \n    }\n    \n    if((bdom == msg.mydom) && (bmonth == msg.mymonthn)) {\n        // date matches today\n        \n        if(msg.filename.indexOf('saints') !== -1) {\n            message = \"Saints \" + msg.payload.value\n            \n        } else if(msg.filename.indexOf('birthday') !== -1) { \n            if(byear !== undefined) {\n                message = \"Happy \" + (msg.myyear - byear) + \"th Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            } else {\n                message = \"Happy Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            }\n            \n        } else {\n            message = msg.payload.value\n        }\n        \n        msg.payload = message\n        return msg;\n    }\n}\n\n// Default nothing\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 330,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "f6373746.83f598",
        "type": "readdir",
        "z": "8627a08f.2f4c18",
        "name": "Daily CSVs",
        "dir": "/opt/tidhome/data/daily-events",
        "as": "multi",
        "recursive": false,
        "outproperty": "filename",
        "x": 290,
        "y": 270,
        "wires": [
            [
                "8e4b9462.126df"
            ]
        ]
    },
    {
        "id": "8e4b9462.126df",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "CSV file",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 330,
        "y": 310,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "f5632272.86a6b8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Morning",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "Good morning!",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "f6373746.83f598",
                "57bdbb93.d54314",
                "e7e9239c.0be1c",
                "796c897.a1f1278"
            ]
        ]
    },
    {
        "id": "fd76b359.51ec38",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "Night",
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "Good night!",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "57bdbb93.d54314",
        "type": "mqtt out",
        "z": "8627a08f.2f4c18",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "4271c741.d9a258",
        "type": "comment",
        "z": "8627a08f.2f4c18",
        "name": "Daily News",
        "info": "",
        "x": 100,
        "y": 120,
        "wires": []
    },
    {
        "id": "63fb326d.8d4e04",
        "type": "http request",
        "z": "d06e385b.de11c8",
        "name": "Web Relays",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.56/gpios/status",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "54613c06.23f4fc"
            ]
        ]
    },
    {
        "id": "ad519cb2.e58da",
        "type": "inject",
        "z": "d06e385b.de11c8",
        "name": "Poll Web Relays (60s)",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "63fb326d.8d4e04"
            ]
        ]
    },
    {
        "id": "8befeef.c99cc1",
        "type": "comment",
        "z": "a6ca2108.abdcc8",
        "name": "Actors - MQTT push",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ee431c1.7d7f9",
        "type": "mqtt in",
        "z": "a6ca2108.abdcc8",
        "name": "actors/iotheaters/switch",
        "topic": "actors/iotheaters/switch",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "af4997be.134f8"
            ]
        ]
    },
    {
        "id": "a7880a9.06ed278",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "01 - Bureau",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1",
        "payloadType": "string",
        "x": 110,
        "y": 330,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "b1dbdfae.39a7b",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "00 - Salle de Jeux",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 290,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "53262eed.f7e5e",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "02 - Chambre Léna",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "string",
        "x": 130,
        "y": 370,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "8976bd76.5edb88",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "03 - Chambre Damien",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "3",
        "payloadType": "string",
        "x": 140,
        "y": 410,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "adf2bccd.e3ed5",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "04 - Salle de Bain - Haut",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "4",
        "payloadType": "string",
        "x": 150,
        "y": 450,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "e622a046.d513",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "05 - Mezanine",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "5",
        "payloadType": "string",
        "x": 110,
        "y": 490,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "9eb9836d.f905d8",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "06 - Chambre Papa/Maman",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "6",
        "payloadType": "string",
        "x": 160,
        "y": 530,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "d32525df.94aaa",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "07 - Salle de Bain - Bas",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "x": 140,
        "y": 570,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "68332464.3f29b4",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "14 - Salon",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "14",
        "payloadType": "string",
        "x": 100,
        "y": 610,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "78234f2b.1a52d8",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "15 - Hall",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "15",
        "payloadType": "string",
        "x": 100,
        "y": 650,
        "wires": [
            [
                "82278990.f3ab6"
            ]
        ]
    },
    {
        "id": "3099cf40.d425b",
        "type": "comment",
        "z": "a6ca2108.abdcc8",
        "name": "IOTHeaters - Test",
        "info": "",
        "x": 120,
        "y": 250,
        "wires": []
    },
    {
        "id": "f26be183.4f807",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Initialize",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "94e381cf.c2bab"
            ]
        ]
    },
    {
        "id": "af26e828.9b92",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "77ded097.d4bc6",
        "type": "yaml",
        "z": "112e9cf8.590b23",
        "property": "payload",
        "name": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "87655eff.6eacc"
            ]
        ]
    },
    {
        "id": "94e381cf.c2bab",
        "type": "file in",
        "z": "112e9cf8.590b23",
        "name": "ti-dhome.yaml",
        "filename": "/opt/tidhome/data/ti-dhome.yaml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "77ded097.d4bc6"
            ]
        ]
    },
    {
        "id": "ea98f666.7ddaa",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "Sensors - Configuration",
        "info": "",
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4efc750.434898",
        "type": "catch",
        "z": "112e9cf8.590b23",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "a24eb884.8fa9a"
            ]
        ]
    },
    {
        "id": "87655eff.6eacc",
        "type": "change",
        "z": "112e9cf8.590b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tidhome",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "af26e828.9b92"
            ]
        ]
    },
    {
        "id": "d18b1e8a.48615",
        "type": "change",
        "z": "112e9cf8.590b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tidhome",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "af26e828.9b92"
            ]
        ]
    },
    {
        "id": "9e12968e.6ff6b8",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Check",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "d18b1e8a.48615"
            ]
        ]
    },
    {
        "id": "f20c9be2.db11d8",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "sensors/xxx/nodes/...",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "32ac0f30.9239f8",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse CurrentCost",
        "filename": "/opt/tidhome/functions/Parse-CurrentCost.js",
        "reloadfile": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f20c9be2.db11d8"
            ]
        ]
    },
    {
        "id": "e8d888e4.072f5",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse JeeLink",
        "filename": "/opt/tidhome/functions/Parse-JeeLink.js",
        "reloadfile": false,
        "outputs": 1,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "f20c9be2.db11d8"
            ]
        ]
    },
    {
        "id": "54613c06.23f4fc",
        "type": "file function",
        "z": "d06e385b.de11c8",
        "name": "Parse WebRelays",
        "filename": "/opt/tidhome/functions/Parse-WebRelays.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "f20c9be2.db11d8"
            ]
        ]
    },
    {
        "id": "cc675ec4.106d",
        "type": "comment",
        "z": "d88a69c4.1942c8",
        "name": "Sensors - Heaters/Power/RFM868",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "90d304a9.c871a",
        "type": "mqtt in",
        "z": "d88a69c4.1942c8",
        "name": "sensors/#",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "json",
        "broker": "c38452a5.4f84e8",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "dcd509f1.d56dd"
            ]
        ]
    },
    {
        "id": "14def27.355280e",
        "type": "debug",
        "z": "d88a69c4.1942c8",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "dcd509f1.d56dd",
        "type": "function",
        "z": "d88a69c4.1942c8",
        "name": "Store Global",
        "func": "var topicNodesPrefix = 'tidhome.sensors.' + msg.payload.gateway + '.nodes'\nvar nodes = global.get(topicNodesPrefix) || [];\nfor (var i = 0; i < nodes.length; i++) {\n    if(nodes[i].id === msg.payload.id) {\n        // found node\n        entryStr = (msg.payload.entry != undefined) ? ('-' + msg.payload.entry) : ''\n        global.set(topicNodesPrefix + '[' + i + '].' + msg.payload.type + entryStr, msg.payload.value);\n        global.set(topicNodesPrefix + '[' + i + '].timestamp', msg.payload.timestamp);\n    }\n}\n// pass through\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "14def27.355280e"
            ]
        ]
    },
    {
        "id": "aa1dfa0a.c912b",
        "type": "inject",
        "z": "112e9cf8.590b23",
        "name": "Alarms",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "900",
        "topic": "",
        "payload": "[\"iotpower\",\"iotheaters\",\"rfm868usb\"]",
        "payloadType": "json",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "9bca5b14.acefe8"
            ]
        ]
    },
    {
        "id": "9bca5b14.acefe8",
        "type": "function",
        "z": "112e9cf8.590b23",
        "name": "Loop on sensors & alarm",
        "func": "var outputMsgs = []\nvar now = new Date().getTime()\nvar nowH = new Date().toISOString()\n\n// Read global info\nfor (var j = 0; j < msg.payload.length; j++) {\n    var topicNodesPrefix = 'tidhome.sensors.' + msg.payload[j] + '.nodes'\n    var nodes = global.get(topicNodesPrefix) || []\n    for (var i = 0; i < nodes.length; i++) {\n        \n        if(nodes[i].enabled != undefined && nodes[i].enabled == false)\n            continue\n        \n        // sensor is configured but never seen !\n        if(nodes[i].timestamp == undefined) {\n            if(nodes[i].notifiedAt == undefined) {\n                var msgOut = {}\n                msgOut.payload = nodes[i]\n                msgOut.payload.gateway = msg.payload[j]\n                msgOut.payload.state = 'neverseen'\n                msgOut.payload.notifiedAt = now\n                msgOut.payload.notifiedAt_human = nowH\n                outputMsgs.push(msgOut)\n                continue\n            }\n            \n        } else {\n        \n            // sensor no longer seen after 60min !\n            var tOld = parseInt((now - nodes[i].timestamp) / (1000 * 60))\n            if(tOld > 60) {\n                if(nodes[i].notifiedAt == undefined) {\n                    // 30 min old data => alarm\n                    var msgOut = {}\n                    msgOut.payload = nodes[i]\n                    msgOut.payload.gateway = msg.payload[j]\n                    msgOut.payload.state = 'unavailable'\n                    msgOut.payload.notifiedAt = now\n                    msgOut.payload.notifiedAt_human = nowH\n                    msgOut.payload.for = tOld\n                    outputMsgs.push(msgOut)\n                }\n                \n            } else {\n                if(nodes[i].notifiedAt != undefined) {\n                    // reset notifiedAt\n                    global.set(topicNodesPrefix + '[' + i + '].notifiedAt', undefined);\n                    global.set(topicNodesPrefix + '[' + i + '].notifiedAt_human', undefined);\n                    global.set(topicNodesPrefix + '[' + i + '].for', undefined);\n                    \n                    var msgOut = {}\n                    msgOut.payload = nodes[i]\n                    msgOut.payload.state = 'available'\n                    msgOut.payload.gateway = msg.payload[j]\n                    outputMsgs.push(msgOut)\n                }\n            }\n            \n            // sensor is reporting low battery !\n            // TODO\n        }\n    }\n}\n\n// return [ outputMsgs ];\n\n// Factorize a single message\nvar finalMessage = \"\"\nfor (var j = 0; j < outputMsgs.length; j++) {\n    amsg = outputMsgs[j]\n    finalMessage += amsg.payload.state + \": \" + amsg.payload.gateway + \" / \" + amsg.payload.location + \"(\" + amsg.payload.id + \")\"\n    if(amsg.payload.for != undefined) {\n        finalMessage += amsg.payload.for + \"min\"\n    }\n    finalMessage += \"\\n\"\n}\n\nmsg.payload = finalMessage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 380,
        "wires": [
            [
                "f33af95f.a4de3"
            ]
        ]
    },
    {
        "id": "f33af95f.a4de3",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "af4997be.134f8",
        "type": "http request",
        "z": "a6ca2108.abdcc8",
        "name": "Switch Web Relays",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.56/gpios/switch?id={{{payload.id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "476f5894.01527"
            ]
        ]
    },
    {
        "id": "476f5894.01527",
        "type": "debug",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "43764d29.9774c4",
        "type": "mqtt out",
        "z": "a6ca2108.abdcc8",
        "name": "actors/iotheaters/switch",
        "topic": "actors/iotheaters/switch",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 740,
        "y": 470,
        "wires": []
    },
    {
        "id": "82278990.f3ab6",
        "type": "function",
        "z": "a6ca2108.abdcc8",
        "name": "Xfer",
        "func": "return { 'payload': { 'id': msg.payload } }",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 470,
        "wires": [
            [
                "43764d29.9774c4"
            ]
        ]
    },
    {
        "id": "40233b26.60d444",
        "type": "telegram command",
        "z": "e77a2be7.894528",
        "name": "/help",
        "command": "/help",
        "bot": "4fc69d2d.235124",
        "strict": false,
        "hasresponse": false,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "414ea594.afc18c"
            ],
            [
                "c829ddf4.a40fe8"
            ]
        ]
    },
    {
        "id": "ec4a8411.e5dfa",
        "type": "telegram sender",
        "z": "e77a2be7.894528",
        "name": "Response",
        "bot": "4fc69d2d.235124",
        "x": 570,
        "y": 370,
        "wires": [
            [
                "9c065846.7bb818"
            ]
        ]
    },
    {
        "id": "414ea594.afc18c",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "",
        "func": "var helpMessage = \"/help - shows help\\n\";\nhelpMessage += \"/status - request for status\\n\";\n\nhelpMessage += \"Your chat id is \" + msg.payload.chatId + \"\\n\";\nhelpMessage += \"You are welcome: \"+ msg.originalMessage.from.username + \"\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 370,
        "wires": [
            [
                "ec4a8411.e5dfa"
            ]
        ]
    },
    {
        "id": "c829ddf4.a40fe8",
        "type": "file",
        "z": "e77a2be7.894528",
        "name": "",
        "filename": "/var/log/telegram-unauthorized.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "d548318e.c1bfb8"
            ]
        ]
    },
    {
        "id": "9c065846.7bb818",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 370,
        "wires": []
    },
    {
        "id": "ea1a2372.5149d",
        "type": "telegram command",
        "z": "e77a2be7.894528",
        "name": "/start",
        "command": "/start",
        "bot": "4fc69d2d.235124",
        "strict": false,
        "hasresponse": false,
        "x": 100,
        "y": 370,
        "wires": [
            [
                "414ea594.afc18c"
            ],
            [
                "c829ddf4.a40fe8"
            ]
        ]
    },
    {
        "id": "d548318e.c1bfb8",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "fdcfaa6a.393db",
        "type": "telegram command",
        "z": "e77a2be7.894528",
        "name": "/status",
        "command": "/status",
        "bot": "4fc69d2d.235124",
        "strict": false,
        "hasresponse": false,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "b8b879fe.1654a"
            ],
            []
        ]
    },
    {
        "id": "585f1b21.64d4d4",
        "type": "telegram sender",
        "z": "e77a2be7.894528",
        "name": "show keyboard",
        "bot": "4fc69d2d.235124",
        "x": 850,
        "y": 690,
        "wires": [
            [
                "a3663751.58695"
            ]
        ]
    },
    {
        "id": "b8b879fe.1654a",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "confirmation message",
        "func": "context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [ ['iotheaters'], ['rfm868usb']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Which?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 690,
        "wires": [
            [
                "585f1b21.64d4d4"
            ]
        ]
    },
    {
        "id": "ad191d4c.3e2998",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "create response",
        "func": "if(context.global.keyboard.pending) {\n    context.global.keyboard.pending = false;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 730,
        "wires": [
            [
                "1593bcbf.dbacc3"
            ]
        ]
    },
    {
        "id": "6c3c697f.8887a",
        "type": "telegram sender",
        "z": "e77a2be7.894528",
        "name": "send response",
        "bot": "4fc69d2d.235124",
        "x": 850,
        "y": 740,
        "wires": [
            [
                "a3663751.58695"
            ]
        ]
    },
    {
        "id": "a3663751.58695",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1030,
        "y": 690,
        "wires": []
    },
    {
        "id": "f528cdd0.d1401",
        "type": "telegram command",
        "z": "e77a2be7.894528",
        "name": "/meteo",
        "command": "/meteo",
        "bot": "4fc69d2d.235124",
        "strict": false,
        "hasresponse": false,
        "x": 100,
        "y": 470,
        "wires": [
            [
                "8e9d1931.8c5688"
            ],
            [
                "c829ddf4.a40fe8"
            ]
        ]
    },
    {
        "id": "e7e9239c.0be1c",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "time.now()",
        "func": "msg.time = new Date().getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 370,
        "wires": [
            [
                "45d9a893.f40ca8"
            ]
        ]
    },
    {
        "id": "eff1f82.28aea08",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 410,
        "wires": []
    },
    {
        "id": "dc46d36e.b44f88",
        "type": "darksky",
        "z": "e77a2be7.894528",
        "darksky": "56c5e5e6.d3610c",
        "name": "Weather Forecast",
        "lon": "-4.574204",
        "lat": "48.4778124",
        "date": "",
        "time": "",
        "mode": "message",
        "lang": "fr",
        "units": "si",
        "x": 670,
        "y": 470,
        "wires": [
            [
                "5943aef0.08ad28"
            ]
        ]
    },
    {
        "id": "233f4d7d.288282",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "Meteo",
        "func": "var message = msg.forecast.detail + '\\n' + \n    \"temp=\" + msg.data.currently.temperature + \"°C (\" + msg.forecast.mintemp + \"°C to \" + msg.forecast.maxtemp + \"°C) \\n\" +\n    \"humidity=\" + (msg.forecast.humidity * 100) + \"%\\n\" +\n    \"pressure=\" + msg.data.currently.pressure + \"hPa\\n\" +\n    \"windspeed=\" + msg.forecast.windspeed + \"km/h\\n\" +\n    \"winddirection=\" + msg.forecast.winddirection + \"\\n\" + \n    \"clouds=\" + (msg.forecast.clouds * 100) + \"%\";\n    \nmsg.payload.content = message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 470,
        "wires": [
            [
                "edb461bb.0b5cf8"
            ]
        ]
    },
    {
        "id": "8e9d1931.8c5688",
        "type": "change",
        "z": "e77a2be7.894528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegram",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 470,
        "wires": [
            [
                "a9ef1b97.005e8"
            ]
        ]
    },
    {
        "id": "a9ef1b97.005e8",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "",
        "func": "msg.time = new Date().getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 470,
        "wires": [
            [
                "dc46d36e.b44f88"
            ]
        ]
    },
    {
        "id": "5943aef0.08ad28",
        "type": "change",
        "z": "e77a2be7.894528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "forecast",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telegram",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 470,
        "wires": [
            [
                "233f4d7d.288282"
            ]
        ]
    },
    {
        "id": "edb461bb.0b5cf8",
        "type": "telegram sender",
        "z": "e77a2be7.894528",
        "name": "Send",
        "bot": "4fc69d2d.235124",
        "x": 1130,
        "y": 470,
        "wires": [
            [
                "caca8848.b2a778"
            ]
        ]
    },
    {
        "id": "caca8848.b2a778",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1250,
        "y": 470,
        "wires": []
    },
    {
        "id": "1593bcbf.dbacc3",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "Alarms",
        "func": "var outputMsgsNeverSeen = []\nvar outputMsgsUnavailable = []\nvar now = new Date().getTime()\nvar nowH = new Date().toISOString()\nvar gateway = msg.payload.content\n\n// Read global info\nvar topicNodesPrefix = 'tidhome.sensors.' + gateway + '.nodes'\nvar nodes = global.get(topicNodesPrefix) || []\nfor (var i = 0; i < nodes.length; i++) {\n    if(nodes[i].enabled != undefined && nodes[i].enabled == false)\n        continue\n    // sensor is configured but never seen !\n    if(nodes[i].timestamp == undefined) {\n        var msgOut = {}\n        msgOut.payload = nodes[i]\n        msgOut.payload.gateway = msg.payload[j]\n        msgOut.payload.state = 'neverseen'\n        msgOut.payload.notifiedAt = now\n        msgOut.payload.notifiedAt_human = nowH\n        outputMsgsNeverSeen.push(msgOut)\n        continue\n    }\n}\n\nfor (var i = 0; i < nodes.length; i++) {\n    if(nodes[i].enabled != undefined && nodes[i].enabled == false)\n        continue\n    // sensor no longer seen after 60min !\n    var tOld = parseInt((now - nodes[i].timestamp) / (1000 * 60))\n    if(tOld > 60) {\n        // 30 min old data => alarm\n        var msgOut = {}\n        msgOut.payload = nodes[i]\n        msgOut.payload.gateway = msg.payload[j]\n        msgOut.payload.state = 'unavailable'\n        msgOut.payload.notifiedAt = now\n        msgOut.payload.notifiedAt_human = nowH\n        msgOut.payload.for = tOld\n        outputMsgsUnavailable.push(msgOut)\n    }\n}\n\n// Factorize a single message\nvar finalMessage = \"NeverSeen: \\n\"\nfor (var j = 0; j < outputMsgsNeverSeen.length; j++) {\n    amsg = outputMsgsNeverSeen[j]\n    finalMessage += gateway + \" / \" + amsg.payload.location + \"(\" + amsg.payload.id + \")\"\n    if(amsg.payload.for != undefined) {\n        finalMessage += amsg.payload.for + \"min\"\n    }\n    finalMessage += \"\\n\"\n}\nfinalMessage += \"Unavailable: \\n\"\nfor (var j = 0; j < outputMsgsUnavailable.length; j++) {\n    amsg = outputMsgsUnavailable[j]\n    finalMessage += gateway + \" / \" + amsg.payload.location + \"(\" + amsg.payload.id + \")\"\n    if(amsg.payload.for != undefined) {\n        finalMessage += amsg.payload.for + \"min\"\n    }\n    finalMessage += \"\\n\"\n}\n\nmsg.payload.content = finalMessage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 730,
        "wires": [
            [
                "6c3c697f.8887a"
            ]
        ]
    },
    {
        "id": "cd5c333e.9e1f98",
        "type": "telegram sender",
        "z": "e77a2be7.894528",
        "name": "Status",
        "bot": "4fc69d2d.235124",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "ac965381.c0a818"
            ]
        ]
    },
    {
        "id": "ac965381.c0a818",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "ff7479b2.3bce08",
        "type": "mqtt in",
        "z": "e77a2be7.894528",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "2",
        "datatype": "auto",
        "broker": "c38452a5.4f84e8",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7eb1674.6b7df98"
            ]
        ]
    },
    {
        "id": "91badd7e.4f7648",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "Render notification event",
        "func": "msg.payload = {\n    \"chatId\": msg.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "cd5c333e.9e1f98"
            ]
        ]
    },
    {
        "id": "5911bee6.748e98",
        "type": "comment",
        "z": "e77a2be7.894528",
        "name": "Publish Telegram event",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "7eb1674.6b7df98",
        "type": "credentials",
        "z": "e77a2be7.894528",
        "name": "K",
        "props": [
            {
                "value": "telegramrecipients",
                "type": "msg"
            },
            {
                "value": "telegramusers",
                "type": "msg"
            }
        ],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "91badd7e.4f7648"
            ]
        ]
    },
    {
        "id": "650449d4.5383f8",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "ERRORS Handling",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "29f69392.4ebc64",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "7cd8cb74.d3227c",
        "type": "mqtt out",
        "z": "112e9cf8.590b23",
        "name": "notifications/telegram",
        "topic": "notifications/telegram",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 920,
        "y": 130,
        "wires": []
    },
    {
        "id": "41e3caeb.c73014",
        "type": "delay",
        "z": "112e9cf8.590b23",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 720,
        "y": 130,
        "wires": [
            [
                "7cd8cb74.d3227c"
            ]
        ]
    },
    {
        "id": "2d2c7365.5aa924",
        "type": "file",
        "z": "112e9cf8.590b23",
        "name": "",
        "filename": "/var/log/nodered/flow-errors.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "29f69392.4ebc64"
            ]
        ]
    },
    {
        "id": "694da039.ceca8",
        "type": "catch",
        "z": "d88a69c4.1942c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "950a0758.599f88"
            ]
        ]
    },
    {
        "id": "ec13faf7.4b286",
        "type": "catch",
        "z": "d06e385b.de11c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "64dacb8b.d2f3e4"
            ]
        ]
    },
    {
        "id": "18ef54e4.557d1b",
        "type": "catch",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "139fba02.9e88fe"
            ]
        ]
    },
    {
        "id": "b24260ef.c5b1e8",
        "type": "catch",
        "z": "8627a08f.2f4c18",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7ddfd97.7160228"
            ]
        ]
    },
    {
        "id": "b1e82759.aea5d",
        "type": "catch",
        "z": "e77a2be7.894528",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "da805bda.a8c0b"
            ]
        ]
    },
    {
        "id": "796c897.a1f1278",
        "type": "country statistics",
        "z": "8627a08f.2f4c18",
        "name": "France",
        "infected": true,
        "deaths": true,
        "recovered": true,
        "active": false,
        "critical": false,
        "todaycases": false,
        "todaydeaths": false,
        "casepermilion": false,
        "regionFilter": true,
        "deathspermilion": false,
        "regionList": "[\"FR\",\"US\",\"GB\",\"IT\",\"ES\",\"DE\",\"CA\"]",
        "regionListType": "json",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "9bc6fdda.21edd8",
                "eff1f82.28aea08"
            ]
        ]
    },
    {
        "id": "9bc6fdda.21edd8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Covid19",
        "func": "var outputMsgs = []\n\n/*\n// plenty messages\nvar keys = Object.keys(msg.covid);\nfor (const country of keys) {\n  var message = \"COVID \" + \"[\" + msg.covid[country].countryinfo.country  + \"](\" + msg.covid[country].countryinfo.flagurl + \"): \\n\" +\n    \"Cas     = \" + msg.covid[country].cases + \"\\n\" +\n    \"Morts   = \" + msg.covid[country].deaths + \"\\n\" +\n    \"Sorties = \" + msg.covid[country].recovered + \"\\n\";\n    \n  outputMsgs.push({ topic: country, payload: message, photo: msg.covid[country].countryinfo.flagurl });\n}\n*/\n\n// single message\nvar message = \"COVID: \\n\";\nmessage += \"Cas\\tMorts\\tSortie\\n\";\nvar keys = Object.keys(msg.covid);\nfor (const country of keys) {\n  message += msg.covid[country].countryinfo.country + \": \" \n    + msg.covid[country].cases + \"\\t\" + msg.covid[country].deaths + \"\\t\" + msg.covid[country].recovered + \"\\n\";\n}\noutputMsgs.push({ topic: \"covid\", payload: message });\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "eff1f82.28aea08",
                "57bdbb93.d54314"
            ]
        ]
    },
    {
        "id": "b01fe37c.b78c3",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "796c897.a1f1278"
            ]
        ]
    },
    {
        "id": "40b927a.b6b7fd8",
        "type": "telegram command",
        "z": "e77a2be7.894528",
        "name": "/switch",
        "command": "/switch",
        "bot": "4fc69d2d.235124",
        "strict": false,
        "hasresponse": false,
        "x": 90,
        "y": 250,
        "wires": [
            [
                "34d52161.f3ac76"
            ],
            []
        ]
    },
    {
        "id": "34d52161.f3ac76",
        "type": "function",
        "z": "e77a2be7.894528",
        "name": "",
        "func": "var kwargs = []\nif (msg.payload) {\n    if (msg.payload.content) {\n        kwargs = msg.payload.content.trim().split(' ')\n    }\n}\n\nif (kwargs.length == 2) {\n    if(kwargs[1] == 'on')\n        msg.topic = 'switchOn'\n    else\n        msg.topic = 'switchOff'\n}\n\n// msg.payload = { \"nodeid\": kwargs[0] }\n\nreturn {\n    topic : msg.topic,\n    payload : { \"nodeid\": parseInt(kwargs[0]) }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 250,
        "wires": [
            [
                "f8e23ac0.b10348",
                "21528503.db161a"
            ]
        ]
    },
    {
        "id": "21528503.db161a",
        "type": "link out",
        "z": "e77a2be7.894528",
        "name": "",
        "links": [
            "6911083a.cc7bf8",
            "2efcbd70.53fe12"
        ],
        "x": 535,
        "y": 290,
        "wires": []
    },
    {
        "id": "f8e23ac0.b10348",
        "type": "debug",
        "z": "e77a2be7.894528",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "a24eb884.8fa9a",
        "type": "link out",
        "z": "112e9cf8.590b23",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 835,
        "y": 80,
        "wires": []
    },
    {
        "id": "1bf42829.b3e0b8",
        "type": "link in",
        "z": "112e9cf8.590b23",
        "name": "errors/catchall",
        "links": [
            "a24eb884.8fa9a",
            "950a0758.599f88",
            "64dacb8b.d2f3e4",
            "139fba02.9e88fe",
            "7ddfd97.7160228",
            "da805bda.a8c0b",
            "e0a0313d.ff21a"
        ],
        "x": 225,
        "y": 170,
        "wires": [
            [
                "41e3caeb.c73014",
                "2d2c7365.5aa924"
            ]
        ]
    },
    {
        "id": "950a0758.599f88",
        "type": "link out",
        "z": "d88a69c4.1942c8",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "64dacb8b.d2f3e4",
        "type": "link out",
        "z": "d06e385b.de11c8",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "139fba02.9e88fe",
        "type": "link out",
        "z": "a6ca2108.abdcc8",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ddfd97.7160228",
        "type": "link out",
        "z": "8627a08f.2f4c18",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "da805bda.a8c0b",
        "type": "link out",
        "z": "e77a2be7.894528",
        "name": "General CatchAll",
        "links": [
            "1bf42829.b3e0b8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "bd4b8837.f30ac8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "ZigBeeConfig",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "2f4f4031.d2a66",
        "type": "http request",
        "z": "d06e385b.de11c8",
        "name": "GET /sensors",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "bd4b8837.f30ac8"
            ]
        ]
    },
    {
        "id": "d80e2d8f.defe1",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "/sensors",
        "func": "\nvar newmsg = {};\nnewmsg.payload = \"\";\nnewmsg.topic = \"\";\nnewmsg.url = \"http://deconz:7080/api/\"+ msg.apikey + \"/sensors\";\nreturn newmsg;\n\n// msg.payload = \"http://deconz:7080/api/\" + msg.apikey + \"/sensors\";\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "2f4f4031.d2a66"
            ]
        ]
    },
    {
        "id": "a30f2db2.593ab8",
        "type": "inject",
        "z": "d06e385b.de11c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "1d11784.1ba6488"
            ]
        ]
    },
    {
        "id": "1d11784.1ba6488",
        "type": "change",
        "z": "d06e385b.de11c8",
        "name": "APIKEY",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "msg",
                "to": "$(ZIGBEE_DECONZ_APIKEY)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "d80e2d8f.defe1"
            ]
        ]
    },
    {
        "id": "8827128b.525168",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "ZigBee Devices",
        "info": "",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "69c715fe.2ca6cc",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "Identify switch",
        "property": "payload.state.buttonevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450,
        "y": 800,
        "wires": [
            [
                "511f2e0c.7a0568",
                "c47759cc.4f5a08"
            ],
            [
                "c0af39fc.ca5c78"
            ]
        ]
    },
    {
        "id": "511f2e0c.7a0568",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Pushbutton",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload.state.buttonevent",
        "statusVal": "",
        "statusType": "auto",
        "x": 641.6132202148438,
        "y": 745.43359375,
        "wires": []
    },
    {
        "id": "143b3c35.88d6d4",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Motion sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload.state.presence",
        "statusVal": "",
        "statusType": "auto",
        "x": 651.9960327148438,
        "y": 856.7227172851562,
        "wires": []
    },
    {
        "id": "c47759cc.4f5a08",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Deconz/switch/{{id}}",
        "func": "var newmsg = {};\nnewmsg.payload = {};\nnewmsg.topic = {};\nnewmsg.topic = \"Deconz/switch/\"+msg.payload.id;\nnewmsg.payload = msg.payload.state.buttonevent;\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 869.62890625,
        "y": 793.68359375,
        "wires": [
            [
                "3d4eb696.6811a2"
            ]
        ]
    },
    {
        "id": "969261b9.9715f8",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Deconz/motion/{{id}}",
        "func": "var newmsg = {};\nnewmsg.payload = {};\nnewmsg.topic = {};\nnewmsg.topic = \"Deconz/motion/\"+msg.payload.id;\nif(msg.payload.state.presence === false){\n    newmsg.payload = \"OFF\";\n}else{\n    newmsg.payload = \"ON\";\n}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 872.1290283203125,
        "y": 905.6836547851562,
        "wires": [
            [
                "3d4eb696.6811a2"
            ]
        ]
    },
    {
        "id": "c0af39fc.ca5c78",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "identify motion",
        "property": "payload.state.presence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450.61322021484375,
        "y": 911.43359375,
        "wires": [
            [
                "143b3c35.88d6d4",
                "969261b9.9715f8"
            ],
            [
                "b6979343.7c0638"
            ]
        ]
    },
    {
        "id": "cc8608ef.a9a508",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Lightlevel sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload.state.lightlevel",
        "x": 655.6132202148438,
        "y": 963.43359375,
        "wires": []
    },
    {
        "id": "7bc9334.1ceb74c",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Deconz/lightlevel/{{id}}",
        "func": "// Needs to be adjusted\nvar newmsg = {};\nnewmsg.payload = {};\nnewmsg.topic = {};\nnewmsg.topic = \"Deconz/lightlevel/\"+msg.payload.id;\nif(msg.payload.state.lightlevel === false){\n    newmsg.payload = \"OFF\";\n}else{\n    newmsg.payload = \"ON\";\n}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 874.7462158203125,
        "y": 1015.39453125,
        "wires": [
            [
                "3d4eb696.6811a2"
            ]
        ]
    },
    {
        "id": "b6979343.7c0638",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "identify lightlevel",
        "property": "payload.state.lightlevel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 453.23040771484375,
        "y": 1021.1444702148438,
        "wires": [
            [
                "cc8608ef.a9a508",
                "7bc9334.1ceb74c"
            ],
            [
                "b42bc6a6.e8726"
            ]
        ]
    },
    {
        "id": "625a82f.f6890fc",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Contact sensor",
        "active": false,
        "console": "false",
        "complete": "payload.state.openclose",
        "x": 657.6132202148438,
        "y": 1078.43359375,
        "wires": []
    },
    {
        "id": "ef73ba9d.a45ef8",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Deconz/contact/{{id}}",
        "func": "var newmsg = {};\nnewmsg.payload = {};\nnewmsg.topic = {};\nnewmsg.topic = \"Deconz/contact/\"+msg.payload.id;\nif(msg.payload.state.contact === false){\n    newmsg.payload = \"OFF\";\n}else{\n    newmsg.payload = \"ON\";\n}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.7462158203125,
        "y": 1125.39453125,
        "wires": [
            [
                "3d4eb696.6811a2"
            ]
        ]
    },
    {
        "id": "b42bc6a6.e8726",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "identify contact",
        "property": "payload.state.openclose",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 456.23040771484375,
        "y": 1131.1444702148438,
        "wires": [
            [
                "625a82f.f6890fc",
                "ef73ba9d.a45ef8"
            ],
            [
                "dc4fd8a.1befca8"
            ]
        ]
    },
    {
        "id": "d0e10eaf.45945",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "Is Config",
        "property": "payload.config",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 252.61322021484375,
        "y": 651.43359375,
        "wires": [
            [
                "6d621fb8.7224d8"
            ],
            [
                "ed76213b.8c214"
            ]
        ]
    },
    {
        "id": "87d2a70.7e9e7d8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Water Sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.water",
        "x": 652.6132202148438,
        "y": 1196.43359375,
        "wires": []
    },
    {
        "id": "cecaa7fa.d1a8c8",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Deconz/water/{{id}}",
        "func": "var newmsg = {};\nnewmsg.payload = {};\nnewmsg.topic = {};\nnewmsg.topic = \"Deconz/water/\"+msg.payload.id;\nif(msg.payload.state.water == false){\n    newmsg.payload = \"OFF\";\n}else{\n    newmsg.payload = \"ON\";\n}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 862.7462158203125,
        "y": 1243.39453125,
        "wires": [
            [
                "3d4eb696.6811a2"
            ]
        ]
    },
    {
        "id": "dc4fd8a.1befca8",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "identify water",
        "property": "payload.state.water",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 441.23040771484375,
        "y": 1249.1444702148438,
        "wires": [
            [
                "87d2a70.7e9e7d8",
                "cecaa7fa.d1a8c8"
            ],
            []
        ]
    },
    {
        "id": "3d4eb696.6811a2",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1152.6132202148438,
        "y": 1006.43359375,
        "wires": []
    },
    {
        "id": "eae17a40.519d98",
        "type": "deconz-input",
        "z": "d06e385b.de11c8",
        "name": "Listen in",
        "server": "7daf73cd.995c9c",
        "device": "00:15:8d:00:01:5e:96:99-01-0406",
        "device_name": "Bureau : ZHAPresence",
        "topic": "",
        "state": "0",
        "output": "onchange",
        "outputAtStartup": true,
        "x": 1102.6132202148438,
        "y": 1231.43359375,
        "wires": [
            [
                "86578338.c68b4"
            ],
            [
                "5cc4f8da.e0e6c"
            ]
        ]
    },
    {
        "id": "86578338.c68b4",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1402.6132202148438,
        "y": 1211.43359375,
        "wires": []
    },
    {
        "id": "7838d569.56e754",
        "type": "deconz-event",
        "z": "d06e385b.de11c8",
        "name": "",
        "server": "7daf73cd.995c9c",
        "device_name": null,
        "x": 110,
        "y": 610,
        "wires": [
            [
                "8a923b08.266ad8",
                "d0e10eaf.45945"
            ]
        ]
    },
    {
        "id": "8745966d.f320d",
        "type": "deconz-battery",
        "z": "d06e385b.de11c8",
        "name": "",
        "server": "7daf73cd.995c9c",
        "device": "00:15:8d:00:01:5e:96:99-01-0406",
        "device_name": "Bureau : ZHAPresence",
        "outputAtStartup": true,
        "x": 1102.6132202148438,
        "y": 1341.43359375,
        "wires": [
            [
                "1da28054.474388"
            ],
            [
                "8f411db9.5e3d3"
            ]
        ]
    },
    {
        "id": "5cc4f8da.e0e6c",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1402.6132202148438,
        "y": 1251.43359375,
        "wires": []
    },
    {
        "id": "1da28054.474388",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1402.6132202148438,
        "y": 1331.43359375,
        "wires": []
    },
    {
        "id": "8f411db9.5e3d3",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1402.6132202148438,
        "y": 1371.43359375,
        "wires": []
    },
    {
        "id": "8a923b08.266ad8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "ZigBeeRaw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 432.61322021484375,
        "y": 611.43359375,
        "wires": []
    },
    {
        "id": "513e7b9e.4ca75c",
        "type": "deconz-input",
        "z": "d06e385b.de11c8",
        "name": "CLIPSensor",
        "server": "7daf73cd.995c9c",
        "device": "00:15:8d:00:01:49:b6:c8-01-0006-ct-dim-toogle-1",
        "device_name": "CLIP-Sensor CTDIM-TOOGLE : CLIPGenericFlag",
        "topic": "",
        "state": "0",
        "output": "always",
        "outputAtStartup": true,
        "x": 142.61322021484375,
        "y": 1331.43359375,
        "wires": [
            [
                "446628fd.bf1e4"
            ],
            [
                "a5a95720.d5b5b8"
            ]
        ]
    },
    {
        "id": "446628fd.bf1e4",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 432.61322021484375,
        "y": 1311.43359375,
        "wires": []
    },
    {
        "id": "a5a95720.d5b5b8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 432.61322021484375,
        "y": 1351.43359375,
        "wires": []
    },
    {
        "id": "e24c22c4.bab6c8",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "ZigBee Tests",
        "info": "",
        "x": 110,
        "y": 570,
        "wires": []
    },
    {
        "id": "6d621fb8.7224d8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "ZigBee Config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 442.61322021484375,
        "y": 651.43359375,
        "wires": []
    },
    {
        "id": "ed76213b.8c214",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "ZigBee ?",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 422.61322021484375,
        "y": 691.43359375,
        "wires": []
    },
    {
        "id": "ee46144b.49c5d",
        "type": "zwave-out",
        "z": "a6ca2108.abdcc8",
        "name": "ZWave Out",
        "controller": "d6378b62.a3ced8",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "c3bffc80.b66a88"
            ]
        ]
    },
    {
        "id": "c3bffc80.b66a88",
        "type": "debug",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "66c1be.40c94644",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switchOn",
        "payload": "{\"nodeid\":6}",
        "payloadType": "json",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "ee46144b.49c5d",
                "c03c64f9.0d9378"
            ]
        ]
    },
    {
        "id": "fee5e0af.70f338",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switchOff",
        "payload": "{\"nodeid\":6}",
        "payloadType": "json",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "ee46144b.49c5d"
            ]
        ]
    },
    {
        "id": "d75ee3a3.fde4d8",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switchOn",
        "payload": "{\"nodeid\":7}",
        "payloadType": "json",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "ee46144b.49c5d"
            ]
        ]
    },
    {
        "id": "3432ad70.4a1312",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switchOff",
        "payload": "{\"nodeid\":7}",
        "payloadType": "json",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "ee46144b.49c5d"
            ]
        ]
    },
    {
        "id": "2efcbd70.53fe12",
        "type": "link in",
        "z": "a6ca2108.abdcc8",
        "name": "inject",
        "links": [
            "21528503.db161a"
        ],
        "x": 195,
        "y": 830,
        "wires": [
            [
                "ee46144b.49c5d"
            ]
        ]
    },
    {
        "id": "c03c64f9.0d9378",
        "type": "debug",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 810,
        "wires": []
    },
    {
        "id": "593aeff8.7c24f",
        "type": "inject",
        "z": "a6ca2108.abdcc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "enablePoll",
        "payload": "{\"nodeid\":7,\"class_id\":37,\"instance\":1,\"index\":1}",
        "payloadType": "json",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "ee46144b.49c5d"
            ]
        ]
    },
    {
        "id": "1196525d.4b15a6",
        "type": "comment",
        "z": "a6ca2108.abdcc8",
        "name": "ZigWave Devices",
        "info": "",
        "x": 120,
        "y": 700,
        "wires": []
    },
    {
        "id": "9652e368.790d5",
        "type": "zwave-in",
        "z": "d06e385b.de11c8",
        "name": "ZWave-USB",
        "controller": "d6378b62.a3ced8",
        "x": 110,
        "y": 370,
        "wires": [
            [
                "5d68fed4.786668"
            ]
        ]
    },
    {
        "id": "5d68fed4.786668",
        "type": "switch",
        "z": "d06e385b.de11c8",
        "name": "",
        "property": "payload.cmdclass",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "37",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 370,
        "wires": [
            [
                "f898bbf0.dec48"
            ],
            [
                "2dfdb4fd.489604"
            ]
        ]
    },
    {
        "id": "f898bbf0.dec48",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 370,
        "wires": []
    },
    {
        "id": "2dfdb4fd.489604",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 430,
        "wires": []
    },
    {
        "id": "de268868.e79f2",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "ZigWave Devices",
        "info": "",
        "x": 120,
        "y": 330,
        "wires": []
    }
]