src/node-red/flows/tidhome-flows.json
[
    {
        "id": "8627a08f.2f4c18",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fc69d2d.235124",
        "type": "telegram bot",
        "z": "",
        "botname": "Ti-dhome-base",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": true
    },
    {
        "id": "23793ec.9bf0742",
        "type": "catch",
        "z": "8627a08f.2f4c18",
        "name": "",
        "x": 115,
        "y": 50,
        "wires": [
            [
                "1eadd747.8b08a1"
            ]
        ]
    },
    {
        "id": "1eadd747.8b08a1",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 625,
        "y": 50,
        "wires": []
    },
    {
        "id": "8ada82a3.815fc8",
        "type": "telegram sender",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "bot": "4fc69d2d.235124",
        "x": 1185,
        "y": 170,
        "wires": [
            [
                "bd0c93c7.885df"
            ]
        ]
    },
    {
        "id": "bd0c93c7.885df",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1315,
        "y": 170,
        "wires": []
    },
    {
        "id": "892680b5.f07978",
        "type": "sunrise",
        "z": "8627a08f.2f4c18",
        "name": "",
        "lat": "48.45",
        "lon": "-4.59",
        "start": "sunriseEnd",
        "end": "sunsetStart",
        "x": 125,
        "y": 170,
        "wires": [
            [],
            [
                "fa30df76.e0def",
                "3fa73a2d.e8f246"
            ]
        ]
    },
    {
        "id": "fa30df76.e0def",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Hello",
        "func": "var content = \"\"\nif(msg.payload === 1) {\n    content = \"Good morning!\"\n} else {\n    content = \"Good night !\"\n}\n\nmsg.payload = {\n    \"chatId\": context.global.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": content\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 986,
        "y": 170,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "cb68db5a.bdbca8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "177a4b9.7ffc534"
            ]
        ]
    },
    {
        "id": "a473a8f3.eebb1",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "contacts.csv",
        "filename": "/opt/data/contacts.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 335,
        "y": 250,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "f9f7f04d.3b6e58",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 724,
        "y": 230,
        "wires": [
            [
                "4881ab4d.cbd20c"
            ]
        ]
    },
    {
        "id": "1663ada5.b9933a",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Birthdays",
        "func": "if (msg.payload.date !== undefined) {\n    var message, bdom, bmonth;\n    bparsed = msg.payload.birthday.split('/');\n    if(bparsed.length == 3) {\n        bdom = parseInt(bparsed[2])\n        bmonth = parseInt(bparsed[1])\n        byear = parseInt(bparsed[0])\n        message = \"Happy \" + (msg.myyear - byear) + \"th Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n    } else {\n        bdom = parseInt(bparsed[1])\n        bmonth = parseInt(bparsed[0])\n        message = \"Happy Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n    }\n    if(bdom == msg.mydom && (bmonth == msg.mymonth || bmonth == msg.mymonthn) ) {\n        msg.payload = {\n            \"chatId\": context.global.telegramrecipients,\n            \"type\": \"message\",\n            \"options\": { \"parse_mode\": \"Markdown\" },\n            \"content\": message\n        }\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 994,
        "y": 230,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "4881ab4d.cbd20c",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 854,
        "y": 230,
        "wires": [
            [
                "1663ada5.b9933a"
            ]
        ]
    },
    {
        "id": "bb8a9cc7.370598",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "contacts-basic.csv",
        "filename": "/opt/data/contacts-basic.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 355,
        "y": 210,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "4a628474.016e84",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "calendar-saints.csv",
        "filename": "/opt/data/calendar-saints.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 355,
        "y": 290,
        "wires": [
            [
                "4d9d5437.7d61bc"
            ]
        ]
    },
    {
        "id": "2513ca6b.11efe6",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 724,
        "y": 290,
        "wires": [
            [
                "c629f17b.ba7a6"
            ]
        ]
    },
    {
        "id": "c629f17b.ba7a6",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 854,
        "y": 290,
        "wires": [
            [
                "a23580f8.0c33f8"
            ]
        ]
    },
    {
        "id": "a23580f8.0c33f8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Saints",
        "func": "var message, bdom, bmonth;\nbparsed = msg.payload.date.split('/');\nif(bparsed.length > 0) {\n    bmonth = bparsed[0]\n    bdom = bparsed[1]\n    message = msg.topic + msg.payload.value\n    \n    if(bdom == msg.mydom && (bmonth == msg.mymonth || bmonth == msg.mymonthn) ) {\n        msg.payload = {\n            \"chatId\": context.global.telegramrecipients,\n            \"type\": \"message\",\n            \"options\": { \"parse_mode\": \"Markdown\" },\n            \"content\": message\n        }\n        return msg;\n    }\n} \nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 984,
        "y": 290,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "468a476f.26bc3",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "calendar-world-days.csv",
        "filename": "/opt/data/calendar-world-days.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 375,
        "y": 330,
        "wires": [
            [
                "46e20461.c93c84"
            ]
        ]
    },
    {
        "id": "a68c9fbf.b8cd9",
        "type": "openweathermap",
        "z": "8627a08f.2f4c18",
        "name": "Brest meteo",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Brest",
        "country": "FR",
        "language": "fr",
        "x": 335,
        "y": 390,
        "wires": [
            [
                "8b517c2b.d93ed8"
            ]
        ]
    },
    {
        "id": "8b517c2b.d93ed8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Meteo",
        "func": "var message = msg.payload.description + '\\n' + \n    \"temp=\" + msg.payload.tempc + \" (\" + msg.payload.temp_minc + \" to \" + msg.payload.temp_maxc + \")\\n\" +\n    \"humidity=\" + msg.payload.humidity + \"\\n\" +\n    \"pressure=\" + msg.payload.pressure + \"\\n\" +\n    \"windspeed=\" + msg.payload.windspeed + \"\\n\" +\n    \"winddirection=\" + msg.payload.winddirection + \"\\n\" + \n    \"clouds=\" + msg.payload.clouds;\n    \nmsg.payload = {\n    \"chatId\": context.global.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": message \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 984,
        "y": 390,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "177a4b9.7ffc534",
        "type": "credentials",
        "z": "8627a08f.2f4c18",
        "name": "K",
        "props": [
            {
                "value": "telegramrecipients",
                "type": "msg"
            },
            {
                "value": "telegramusers",
                "type": "msg"
            }
        ],
        "x": 335,
        "y": 100,
        "wires": [
            [
                "873622d3.9c2c98"
            ]
        ]
    },
    {
        "id": "eedf2b90.5761",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 625,
        "y": 100,
        "wires": []
    },
    {
        "id": "873622d3.9c2c98",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Save",
        "func": "context.global.telegramrecipients = msg.telegramrecipients\nreturn { topic: 'continue' };",
        "outputs": 1,
        "noerr": 0,
        "x": 485,
        "y": 100,
        "wires": [
            [
                "eedf2b90.5761"
            ]
        ]
    },
    {
        "id": "4d9d5437.7d61bc",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Context",
        "func": "msg.topic = \"Saints: \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 564,
        "y": 290,
        "wires": [
            [
                "2513ca6b.11efe6"
            ]
        ]
    },
    {
        "id": "46e20461.c93c84",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Context",
        "func": "msg.topic = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 564,
        "y": 330,
        "wires": [
            [
                "2513ca6b.11efe6"
            ]
        ]
    },
    {
        "id": "3fa73a2d.e8f246",
        "type": "switch",
        "z": "8627a08f.2f4c18",
        "name": "Sunrise/set ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 125,
        "y": 270,
        "wires": [
            [
                "bb8a9cc7.370598",
                "a473a8f3.eebb1",
                "4a628474.016e84",
                "468a476f.26bc3",
                "a68c9fbf.b8cd9"
            ],
            [
                "a68c9fbf.b8cd9"
            ]
        ]
    }
]