src/node-red/flows/tidhome-flows.json
[
    {
        "id": "8627a08f.2f4c18",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d06e385b.de11c8",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "112e9cf8.590b23",
        "type": "tab",
        "label": "MessageQueue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fc69d2d.235124",
        "type": "telegram bot",
        "z": "",
        "botname": "Ti-dhome-base",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": true
    },
    {
        "id": "4c23cd92.778204",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyJeeLink",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "36396f66.41717",
        "type": "serial-port",
        "z": 0,
        "serialport": "/dev/ttyCurrenCost",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "c38452a5.4f84e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "23793ec.9bf0742",
        "type": "catch",
        "z": "8627a08f.2f4c18",
        "name": "",
        "x": 115,
        "y": 50,
        "wires": [
            [
                "1eadd747.8b08a1"
            ]
        ]
    },
    {
        "id": "1eadd747.8b08a1",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 625,
        "y": 50,
        "wires": []
    },
    {
        "id": "8ada82a3.815fc8",
        "type": "telegram sender",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "bot": "4fc69d2d.235124",
        "x": 1185,
        "y": 170,
        "wires": [
            [
                "bd0c93c7.885df"
            ]
        ]
    },
    {
        "id": "bd0c93c7.885df",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1315,
        "y": 170,
        "wires": []
    },
    {
        "id": "892680b5.f07978",
        "type": "sunrise",
        "z": "8627a08f.2f4c18",
        "name": "",
        "lat": "48.45",
        "lon": "-4.59",
        "start": "sunriseEnd",
        "end": "sunsetStart",
        "x": 125,
        "y": 170,
        "wires": [
            [],
            [
                "fa30df76.e0def",
                "3fa73a2d.e8f246"
            ]
        ]
    },
    {
        "id": "fa30df76.e0def",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Hello",
        "func": "var content = \"\"\nif(msg.payload === 1) {\n    content = \"Good morning!\"\n} else {\n    content = \"Good night !\"\n}\n\nmsg.payload = {\n    \"chatId\": context.global.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": content\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 986,
        "y": 170,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "cb68db5a.bdbca8",
        "type": "inject",
        "z": "8627a08f.2f4c18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "177a4b9.7ffc534"
            ]
        ]
    },
    {
        "id": "a473a8f3.eebb1",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "contacts.csv",
        "filename": "/opt/data/contacts.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 335,
        "y": 250,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "f9f7f04d.3b6e58",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 724,
        "y": 230,
        "wires": [
            [
                "4881ab4d.cbd20c"
            ]
        ]
    },
    {
        "id": "1663ada5.b9933a",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Birthdays",
        "func": "if (msg.payload.date !== undefined) {\n    var message, bdom, bmonth;\n    bparsed = msg.payload.date.split('/');\n    if(bparsed.length == 3) {\n        bdom = parseInt(bparsed[2])\n        bmonth = parseInt(bparsed[1])\n        byear = parseInt(bparsed[0])\n        message = \"Happy \" + (msg.myyear - byear) + \"th Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n    } else {\n        bdom = parseInt(bparsed[1])\n        bmonth = parseInt(bparsed[0])\n        message = \"Happy Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n    }\n    if(bdom == msg.mydom && (bmonth == msg.mymonth || bmonth == msg.mymonthn) ) {\n        msg.payload = {\n            \"chatId\": context.global.telegramrecipients,\n            \"type\": \"message\",\n            \"options\": { \"parse_mode\": \"Markdown\" },\n            \"content\": message\n        }\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 994,
        "y": 230,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "4881ab4d.cbd20c",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 854,
        "y": 230,
        "wires": [
            [
                "1663ada5.b9933a"
            ]
        ]
    },
    {
        "id": "bb8a9cc7.370598",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "contacts-basic.csv",
        "filename": "/opt/data/contacts-basic.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 355,
        "y": 210,
        "wires": [
            [
                "f9f7f04d.3b6e58"
            ]
        ]
    },
    {
        "id": "4a628474.016e84",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "calendar-saints.csv",
        "filename": "/opt/data/calendar-saints.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 355,
        "y": 290,
        "wires": [
            [
                "4d9d5437.7d61bc"
            ]
        ]
    },
    {
        "id": "2513ca6b.11efe6",
        "type": "csv",
        "z": "8627a08f.2f4c18",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 724,
        "y": 290,
        "wires": [
            [
                "c629f17b.ba7a6"
            ]
        ]
    },
    {
        "id": "c629f17b.ba7a6",
        "type": "simpletime",
        "z": "8627a08f.2f4c18",
        "name": "now",
        "x": 854,
        "y": 290,
        "wires": [
            [
                "a23580f8.0c33f8"
            ]
        ]
    },
    {
        "id": "a23580f8.0c33f8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Saints",
        "func": "var message, bdom, bmonth;\nbparsed = msg.payload.date.split('/');\nif(bparsed.length > 0) {\n    bmonth = bparsed[0]\n    bdom = bparsed[1]\n    message = msg.topic + msg.payload.value\n    \n    if(bdom == msg.mydom && (bmonth == msg.mymonth || bmonth == msg.mymonthn) ) {\n        msg.payload = {\n            \"chatId\": context.global.telegramrecipients,\n            \"type\": \"message\",\n            \"options\": { \"parse_mode\": \"Markdown\" },\n            \"content\": message\n        }\n        return msg;\n    }\n} \nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 984,
        "y": 290,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "468a476f.26bc3",
        "type": "file in",
        "z": "8627a08f.2f4c18",
        "name": "calendar-world-days.csv",
        "filename": "/opt/data/calendar-world-days.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 375,
        "y": 330,
        "wires": [
            [
                "46e20461.c93c84"
            ]
        ]
    },
    {
        "id": "a68c9fbf.b8cd9",
        "type": "openweathermap",
        "z": "8627a08f.2f4c18",
        "name": "Brest meteo",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Brest",
        "country": "FR",
        "language": "fr",
        "x": 335,
        "y": 390,
        "wires": [
            [
                "8b517c2b.d93ed8"
            ]
        ]
    },
    {
        "id": "8b517c2b.d93ed8",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Meteo",
        "func": "var message = msg.payload.description + '\\n' + \n    \"temp=\" + msg.payload.tempc + \" (\" + msg.payload.temp_minc + \" to \" + msg.payload.temp_maxc + \")\\n\" +\n    \"humidity=\" + msg.payload.humidity + \"\\n\" +\n    \"pressure=\" + msg.payload.pressure + \"\\n\" +\n    \"windspeed=\" + msg.payload.windspeed + \"\\n\" +\n    \"winddirection=\" + msg.payload.winddirection + \"\\n\" + \n    \"clouds=\" + msg.payload.clouds;\n    \nmsg.payload = {\n    \"chatId\": context.global.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": message \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 984,
        "y": 390,
        "wires": [
            [
                "8ada82a3.815fc8"
            ]
        ]
    },
    {
        "id": "177a4b9.7ffc534",
        "type": "credentials",
        "z": "8627a08f.2f4c18",
        "name": "K",
        "props": [
            {
                "value": "telegramrecipients",
                "type": "msg"
            },
            {
                "value": "telegramusers",
                "type": "msg"
            }
        ],
        "x": 335,
        "y": 100,
        "wires": [
            [
                "873622d3.9c2c98"
            ]
        ]
    },
    {
        "id": "eedf2b90.5761",
        "type": "debug",
        "z": "8627a08f.2f4c18",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 625,
        "y": 100,
        "wires": []
    },
    {
        "id": "873622d3.9c2c98",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Save",
        "func": "context.global.telegramrecipients = msg.telegramrecipients\nreturn { topic: 'continue' };",
        "outputs": 1,
        "noerr": 0,
        "x": 485,
        "y": 100,
        "wires": [
            [
                "eedf2b90.5761"
            ]
        ]
    },
    {
        "id": "4d9d5437.7d61bc",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Context",
        "func": "msg.topic = \"Saints: \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 564,
        "y": 290,
        "wires": [
            [
                "2513ca6b.11efe6"
            ]
        ]
    },
    {
        "id": "46e20461.c93c84",
        "type": "function",
        "z": "8627a08f.2f4c18",
        "name": "Context",
        "func": "msg.topic = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 564,
        "y": 330,
        "wires": [
            [
                "2513ca6b.11efe6"
            ]
        ]
    },
    {
        "id": "3fa73a2d.e8f246",
        "type": "switch",
        "z": "8627a08f.2f4c18",
        "name": "Sunrise/set ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 125,
        "y": 270,
        "wires": [
            [
                "bb8a9cc7.370598",
                "a473a8f3.eebb1",
                "4a628474.016e84",
                "468a476f.26bc3",
                "a68c9fbf.b8cd9"
            ],
            [
                "a68c9fbf.b8cd9"
            ]
        ]
    },
    {
        "id": "e9d7a1fd.be1e5",
        "type": "catch",
        "z": "d06e385b.de11c8",
        "name": "",
        "x": 140,
        "y": 70,
        "wires": [
            [
                "b4de4531.e18c6"
            ]
        ]
    },
    {
        "id": "b4de4531.e18c6",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 70,
        "wires": []
    },
    {
        "id": "c95e00f9.370ef",
        "type": "inject",
        "z": "d06e385b.de11c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4f426855.e9451"
            ]
        ]
    },
    {
        "id": "6702fe6d.7775d8",
        "type": "debug",
        "z": "d06e385b.de11c8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "84f43015.9d08c",
        "type": "yaml",
        "z": "d06e385b.de11c8",
        "property": "payload",
        "name": "",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "6702fe6d.7775d8"
            ]
        ]
    },
    {
        "id": "4f426855.e9451",
        "type": "file in",
        "z": "d06e385b.de11c8",
        "name": "ti-dhome.yaml",
        "filename": "/opt/data/ti-dhome.yaml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "84f43015.9d08c"
            ]
        ]
    },
    {
        "id": "91974a7f.e2fe4",
        "type": "mqtt in",
        "z": "112e9cf8.590b23",
        "name": "docker sensors/+/+/+/+/+",
        "topic": "sensors/+/+/+/+/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "c38452a5.4f84e8",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "c451b641.f25a18"
            ]
        ]
    },
    {
        "id": "c451b641.f25a18",
        "type": "debug",
        "z": "112e9cf8.590b23",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "72bb0768.1bdbd8",
        "type": "comment",
        "z": "112e9cf8.590b23",
        "name": "Tests",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "613655ae.7a0704",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "Jeelink",
        "serial": "4c23cd92.778204",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "922e5b14.64ef1"
            ]
        ]
    },
    {
        "id": "922e5b14.64ef1",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Parse JeeLink",
        "func": "var s = msg.payload.split(' ')\nif(s[0] === 'ROOM') {\n    var type = ''\n    var nodeid = (\"00000\" + s[1]).slice (-5)\n    var entry = s[2]\n    var value = s[4].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    if(s[3] == 0) {\n      type = 'temperature';\n      value = value / 10;\n    } else if(s[3] == 1) {\n      type = 'humidity';\n      value = value / 10;\n    } else if(s[3] == 2) {\n      type = 'pressure';\n      value = value / 10;\n    } else if(s[3] == 3) {\n      type = 'light';\n    } else if(s[3] == 4 && value !== 0) {\n      type = 'battery';\n      value = value / 100;\n    } else if(s[3] == 5) {\n      type = 'soil';\n    } else if(s[3] == 6) {\n      type = 'toggle';\n      value = parseInt(value);\n    }\n    \n    if(type !== '') {\n        msg.topic = 'sensors/' + nodeid + '/entries/' + entry + '/events/' + type;\n        msg.payload = value;\n        return msg;\n    }\n    \n    //setTimeout(function() { this.status({}); }, 500);\n    //this.status({fill:\"green\",shape:\"dot\",text:\"processed\"});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "6cfa6f02.ce921"
            ]
        ]
    },
    {
        "id": "5840b9d9.43453",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "Sensors - MQTT push",
        "info": "",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "4eb57f6e.51aa18",
        "type": "serial in",
        "z": "d06e385b.de11c8",
        "name": "CurrentCost",
        "serial": "36396f66.41717",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "3121b59f.5acfaa"
            ]
        ]
    },
    {
        "id": "3121b59f.5acfaa",
        "type": "xml",
        "z": "d06e385b.de11c8",
        "name": "xml2json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "2cb00072.df01f"
            ]
        ]
    },
    {
        "id": "2cb00072.df01f",
        "type": "function",
        "z": "d06e385b.de11c8",
        "name": "Parse CurrentCost",
        "func": "var outputMsgs = [];\n\nif(msg.payload.msg.tmpr) {\n    // Live power\n    if(msg.payload.msg.id == '03967') {\n        // sensors/03967/entries/0/events/temperature\n        var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/temperature';\n        outputMsgs.push( { topic:topic, payload: msg.payload.msg.tmpr[0]});\n    }\n    var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/power';\n    outputMsgs.push( { topic:topic, payload: msg.payload.msg.ch1[0].watts[0]});\n} else {\n    // History power\n    for (var i in msg.payload.msg.hist[0].data) {\n        var chunk = msg.payload.msg.hist[0].data[i];\n        var chunkClean = {};\n        for (var j in chunk) {\n            chunkClean[j] = chunk[j][0];\n        }\n        var topic = 'sensors/03967/entries/' + chunk.sensor[0] + '/history/power';\n        outputMsgs.push( { topic:topic, payload: chunkClean });\n    }\n}\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "6cfa6f02.ce921"
            ]
        ]
    },
    {
        "id": "6cfa6f02.ce921",
        "type": "mqtt out",
        "z": "d06e385b.de11c8",
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c38452a5.4f84e8",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "a80e2fc5.a2c7b",
        "type": "comment",
        "z": "d06e385b.de11c8",
        "name": "Sensors - Configuration",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    }
]